<%= form_with(model: @idea, local: true) do |f|%>

<div class="form-container">
    <div class="box">
        <div class="form-group">
            <% if @idea.errors.present?%>
            <%= @idea.errors.full_messages.join(', ')%>
            <% end %>
        </div>
        <div class="form-group">
            <%= f.label :title, class: "label" %><br>
            <%= f.text_field :title, class: "form-control" %>
        </div>
        <div class="form-group">
            <%= f.label :description, class: "label" %><br>
            <%= f.text_area :description, cols: 50, rows:5, class: "form-control"%>
        </div>
        <%= f.submit "Submit", class: "btn btn-outline-primary" %>
    <% end %>

    </div>
</div>